<!--The content below is only a placeholder and can be replaced.-->
<div style="width: 100%; margin: auto; text-align:left">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="mainnav">
  <span class="navbar-brand mb-0 ml-2 h1">
    AngularTest
  </span>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/engine">Engine</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/exterior">Exterior</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/interior">Interior</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/autopilot">Autopilot</a></li>
      <li class="nav-item" routerLinkActive="active"><a class="nav-link" routerLink="/payment">Payment</a></li>
    </ul>
  </nav>
</div>
<hr/>
<h1>
  Welcome to {{ title }}!
</h1>

<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<br/>
<br/>
<!--
<div class="container-fluid">
  <app-person firstname="Indiana" lastname="Jones" height="177"></app-person>
  <app-person height="199"></app-person>
  <br/>
  <br/>
</div>
-->
<hr/>
<div class="footer">
  <div class="container-fluid">
    <app-summary></app-summary>
  </div>
</div>

